<div class="jumbotron center">
  <div class="container">
				<h1>Welcome to my About App</h1>
				<p>We are working on our One Month Rails Pinteresting app!</p>
				<p>Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
	</div>  <!-- container-->
	<%= image_tag("rainbow2.jpg", :alt => "rss feed") %>
	<div class="main"> 
		<h2>Sailing in the Airlee beach race week great day and good breeze </h2>
		
	</div>
	</div>  <!--Jumbotron-->